* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

/* HEADER */

.header {
    background: #1e1e1e;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header h1{
    font-size: 24px; 
}

.header-actions button {
    margin-left: 10px;
    padding: 8px 14px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.header-actions button:hover {
    background: #45a049;
}

/* CONTEINER DOS QUADROS */

.boards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}

/* QUADRO */

.board {
    background: white;
    width: 300px;
    min-width: 160px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 3s;
}
.board:hover{
    transform: translate(-2px);
}

/* CABEÇALHO DO QUADRO */

.board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.board-header h3{
    font-size: 18px;
}

.board-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: o.2s;
}
.board-actions button:hover{
    transform: scale(1.2);
}

/* ÁREA DOS CARTÕES */

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 1;
}

.card {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    cursor: grab;
    transition: 0.2s;
}
.card:hover{
    transform: scale(1.02);
}

.card:active {
    cursor: grabbing;
}

.card h4{
    font-size: 16px;
    margin-bottom: 4px;
}

.card p{
    font-size: 14px;
    color: #555;
}

.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
}

/* MODAL (FUNDO ESCURO) */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

/* MODAL (CONTEÚDO) */

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.modal-content textarea {
    resize: none;
    height: 80px;
}

.modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.modal-actions button {
    padding: 8px 14px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.modal-actions button:hover {
    background: #45a049;
}

/* RESPONSIVIDADE */

@media (max-width: 900px) {
    .boards-container {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .board {
        width: 100%;
        max-width: 350px;
    }

    .header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
} 